*{
    margin: 0;
}
body {
    font-family: Sleek, Helvetica, Arial, sans-serif;
    font-size: 100%;
    transform: translateZ(0);
}

html, body {
  overflow: hidden !important;
}

p, h1, h2, h3, h4, h5, h6 {
    color: white;
}

h1 {
    font-size: 500%;
}

a {
    color: white;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all .5s ease-in-out; /** Firefox **/
    -o-transition: all .5s ease-in-out; /** Opera **/
}

a:hover {
    color: black;
}

.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    width: 80%;
}

.block {
    display: block;
    visibility: hidden;
    position: absolute;
    width: 3vmax;
    height: 3vmax;
    top: 0;
    left: 0;
    margin: 0;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
    z-index: 100;
}

.block.sel {
    -webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    -ms-animation: color_change 1s infinite alternate;
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;
}

.parallax {
    -webkit-perspective: 200px;
    perspective: 200px;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    transform-style: preserve-3d;
    transform: translateZ(0);
    scroll-behavior: smooth;
}
.parallax__layer {
    -webkit-transform-origin-x: 100%;
    transform-origin-x: 100%;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
    z-index: 4;
}
.parallax__layer--back {
    transform: translateZ(-100px) scale(1.51);
    z-index: 3;
}

.parallax__layer--deep {
    transform: translateZ(-150px) scale(1.8);
    z-index: 2;
}

.parallax__layer--deeper {
    transform: translateZ(-200px) scale(2.1);
    z-index: 1;
}

.parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    transform: translateZ(0);
    z-index: 5;
}

.city {
    width: 100%;
    bottom: 0;
    position: absolute;
}

#loader {
    visibility: visible;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1500;
    -webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    -ms-animation: color_change 1s infinite alternate;
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;
    transition: none;
    -webkit-transition: none; /** Chrome & Safari **/
    -moz-transition: none; /** Firefox **/
    -o-transition: none; /** Opera **/
    }

#loader.loaded {
    background-color: #EC644B;
    top: 0;
    left: 0;
    transform: translate(0,0);
    animation: none;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}

#loaderlabel{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    vertical-align: middle;
    transform: translate(-50%,0);
    margin-top: 2em;
    z-index: 10;
}

#intro {
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

#outro {
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

#nyc3 {
    background-image:linear-gradient(to bottom, #154277 0%,#576e71 30%,#e1c45e 70%,#b26339 100%);
}

#dc3 {
    background-image:linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%);
}

#attendance {
    visibility: hidden;
    height: 50vh;
    position: absolute;
    top:0;
    left:0;
}

#attendance.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@keyframes color_change {
	0% { background-color: #446CB3; }
    25% { background-color: #9A12B3; }
    50% { background-color: #26A65B; }
    75% { background-color: #F5D76E; }
    100% { background-color: #EC644B; }
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#page1{
    z-index: 100;
}


#page2{
    z-index: 98;
}

#page3 {
    z-index: 99;
}

#page4 {
    z-index: 100;
}

#page5 {
    z-index: 97;
}

#page6 {
    z-index: 96;
}

#page7 {
    z-index: 98;
}

#page8 {
    z-index: 96;
}

#page9 {
    z-index: 98;
}

#page10 {
    z-index: 97;
}

@font-face {
    font-family: Sleek;
    src: url("fonts/GeosansLight.ttf") format('truetype');
}

@media screen and (max-width: 1020px) {
    p, h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
    }
    h2 {
        font-size: 200%;
    }
    #loaderlaabel {
        margin-top: 6em;
    }
    .block {
        width: 5em;
        height: 5em;
    }
}